html, body, ul, ol { margin: 0; padding: 0; height: 100%; width: 100%; }

html { font-size: 12px; font-family: "Open Sans", sans-serif; }

body { background-color: #E5E5E5; }

a { text-decoration: none; }

/* Classes */
.container { display: -webkit-box; display: -webkit-flex; display: -moz-flex; display: -ms-flexbox; display: flex; justify-content: space-around; flex-wrap: wrap; width: 100%; }

.column { width: 500px; -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -ms-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear; }

.column-content { border-top: 5px solid #fff; background-color: white; width: 100%; margin-top: 20px; }

.header { text-align: center; padding: 8px; }

.items { display: -webkit-box; display: -webkit-flex; display: -moz-flex; display: -ms-flexbox; display: flex; justify-content: space-around; flex-wrap: wrap; padding: 10px; }
.items a { margin-top: 8px; }

paper-button[raised].lights-yellow.active { background-color: yellow; }

paper-toggle-button.red { --paper-toggle-button-checked-bar-color: red; --paper-toggle-button-checked-button-color: var(--paper-red-500); --paper-toggle-button-checked-ink-color: var(--paper-red-500); --paper-toggle-button-unchecked-bar-color: var(--paper-red-900); --paper-toggle-button-unchecked-button-color: var(--paper-red-900); --paper-toggle-button-unchecked-ink-color: var(--paper-red-900); }

paper-checkbox.blue { --paper-checkbox-checked-color: var(--paper-light-blue-500); --paper-checkbox-checked-ink-color: var(--paper-light-blue-500); --paper-checkbox-unchecked-color: var(--paper-light-blue-900); --paper-checkbox-unchecked-ink-color: var(--paper-light-blue-900); }

/* Font classes */
.big-font, .header { font-size: 22px; }

.super-duper-big-font { font-size: 67px; }

.medium-font { font-size: 16px; }

.small-font { font-size: 12px; }

.super-small-font { font-size: 10px; }

#time { border-top-color: #4CAF50; }

#weather { border-top-color: #FF9800; }

#traffic { border-top-color: #2196F3; }

#lights { border-top-color: yellow; }

#lights { border-top-color: var(--paper-red-900); }

@media all and (max-width: 1510px) { .column { width: 400px; } }
@media all and (max-width: 850px) { .column { width: 300px; } }
