html,
body,
ul,
ol {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: white;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  height: 100%;
  padding: 20px 20px;
  list-style: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}

.container > * {
  padding: 10px;
  flex: 1 100%;
}

.column {
  padding: 5px 5px;
}

.header {
  color: white;
  font-size: 42px;
  text-align: center;
  padding: 14px 14px;
  max-width: 350px;
  width: 350px;
}

#time {
  background-color: #4CAF50;
}

#weather {
  background-color: #FF9800;
}

#news {
  background-color: #2196F3;
}

@media all and (min-width: 600px) {
  .column {
    flex: 1 auto;
  }
}
@media all and (min-width: 800px) {
  .container {
    flex: 3 0px;
  }

  .column-1 {
    order: 1;
  }

  .column-2 {
    order: 3;
  }

  .column-3 {
    order: 2;
  }
}
