//Fonts
$default-font: 'Open Sans', sans-serif
$content-font: 'Roboto', sans-serif

$super-small-font:      10px
$small-font:            12px
$medium-font:           16px
$big-font:              22px
$super-big-font:        42px
$super-duper-big-font:  67px

//Font colors
$subcat-font-color: #FFF

//Colors
$bg-dark-blue:      #0D47A1
$bg-light-blue:     #90CAF9
$bg-blue:           #2196F3

$bg-grey:           #E5E5E5
$bg-light-grey:     #e9eaed

$bg-dark-green:     #1B5E20
$bg-light-green:    #A5D6A7
$bg-green:          #4CAF50

$bg-dark-orange:    #E65100
$bg-light-orange:   #FFCC80
$bg-orange:         #FF9800

$material-shadow:   0 2px 10px 0 rgba(0, 0, 0, 0.16), 0 2px 5px 0 rgba(0, 0, 0, 0.26)