@import 'mixins/mixins'
@import 'options'
@import 'reset'

html
    font-size: $small-font
    font-family: $default-font

body 
    background-color: $bg-grey
a
    text-decoration: none
    
.container
    +flexbox
    justify-content: space-around
    flex-wrap: wrap
    width: 100%
    
.column
    width: 500px
    +transition(all, 0.2s, linear)
        
.content    
    border-top: 5px solid #fff
    background-color: white
    
    width: 100%
    margin-top: 20px
    
.header
    @extend .big-font
    text-align: center
    padding: 8px
    
.items
    +flexbox
    justify-content: space-around 
    flex-wrap: wrap
    padding: 10px
    a
        margin-top: 8px
    
.big-font
    font-size: $big-font
    
.super-duper-big-font
    font-size: $super-duper-big-font

.medium-font
    font-size: $medium-font

.small-font
    font-size: $small-font
    
.super-small-font
    font-size: $super-small-font
    
#time
    border-top-color: $bg-green
    
#weather
    border-top-color: $bg-orange
    
#traffic
    border-top-color: $bg-blue
 
#lights
    border-top-color: yellow

@media all and (max-width: 1510px)
    .column
        width: 400px
        
@media all and (max-width: 850px)
    .column
        width: 300px
