@import 'mixins/mixins'
@import 'options'
@import 'reset'

html
    font-size: $medium-font
    font-family: $default-font
    +transition(all, 0.5s, linear)

body 
    margin: 0
    padding: 0
    width: 100%
    height: 100%
    background-color: $bg-grey

a
    text-decoration: none
    
.container 
    width: 100%
    height: 100%
    //padding: 20px 20px
    margin-top: 20px

    +flexbox
    justify-content: center
    align-items: stretch
    align-content: space-between
    flex-wrap: wrap
    

.column
    //max-width: 560px
    
    padding: 10px 19px
    +transition(all, 0.2s, linear)
    
.content
    box-shadow: $material-shadow
    border-top: 5px solid #fff
    background-color: white
    
    width: 560px
    
    
.header
    color: black
    font-size: $super-big-font
    text-align: center
    
    padding: 14px 14px
    
.raised-item
    padding: 10px 10px
    background-color: white
    box-shadow: $material-shadow

    display: inline-block
    
    font-size: $medium-font
    text-align: center
    
.content-item
    @extend .raised-item
    
    
.big-font
    font-size: $big-font

.medium-font
    font-size: $medium-font

.small-font
    font-size: $small-font
    
.super-duper-big-font
    font-size: $super-duper-big-font
    
#time
    border-top-color: $bg-green
    
#weather
    border-top-color: $bg-orange
    
#news
    border-top-color: $bg-blue
 
#lights
    border-top-color: yellow
    


@media all and (min-width: 600px)
    .column
        flex: 1 auto
        
@media all and (min-width: 600px)
    .column
        flex: 1 auto