=border-radius($radius)
  -webkit-border-radius: $radius
  -moz-border-radius:    $radius
  -ms-border-radius:     $radius
  border-radius:         $radius

=no-select
  -webkit-touch-callout:    none
  -webkit-user-select:      none
  -khtml-user-select:       none
  -moz-user-select:         none
  -ms-user-select:          none
  user-select:              none

=box-shadow($top, $left, $blur, $color, $inset: "")
  -webkit-box-shadow: $top $left $blur $color #{$inset}
  -moz-box-shadow: $top $left $blur $color #{$inset}
  box-shadow: $top $left $blur $color #{$inset}

=transition($transition-property, $transition-time, $method)
  -webkit-transition: $transition-property $transition-time $method
  -moz-transition: $transition-property $transition-time $method
  -ms-transition: $transition-property $transition-time $method
  -o-transition: $transition-property $transition-time $method
  transition: $transition-property $transition-time $method

=flexbox
  display: -webkit-box
  display: -webkit-flex
  display: -moz-flex
  display: -ms-flexbox
  display: flex

=flex($flex)
  -webkit-flex: $flex
  -ms-flex: $flex
  flex: $flex

=flexSafari($flex, $width)
  -webkit-flex: $flex 0 $width
  -ms-flex: $flex 0 $width
  flex: $flex 0 $width


=flexwrap($type)
  -webkit-flex-wrap: $type
  -ms-flex-wrap: $type
  flex-wrap: $type

=flexflow($wrap)
  -webkit-flex-flow: $wrap
  -ms-flex-flow: $wrap
  flex-flow: $wrap

=alignitems($type)
  -webkit-align-items: $type
  -ms-flex-align: $type
  align-items: $type

=justifycontent($type)
  -webkit-justify-content: $type
  -ms-flex-pack: $type
  justify-content: $type

=order($order)
  -webkit-order: $order
  -ms-flex-order: $order
  order: $order

=flexdirection($direction)
  -webkit-flex-direction: $direction
  -ms-flex-direction: $direction
  flex-direction: $direction
